@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');


body {
    font-family: Michroma;
    padding: 0 7vw 0 7vw;
    background-color: #151A20;
    color: white;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

header img {
    z-index: 5;
    height: 3.5rem;
    filter: invert();
    position: relative;
}

.blurred-circle {
    z-index: 1;
    position: absolute;
    border-radius: 100%;
    filter: blur(5rem);
    background-color: #172841;
}

.intro {
    display: flex;
    justify-content: space-between;
}

.transparent-rectangle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E0E0E0;
    mix-blend-mode: overlay;
    z-index: 2;
}

.transparent-rectangle {
    text-align: center;
    border-radius: 0.8rem;
    position: relative;
    padding: 0.2rem;
    overflow: hidden;
    color: #E0E0E0;
    width: 30rem;
}

.transparent-rectangle .text {
    position: relative;
    z-index: 1;
    mix-blend-mode: normal;
}

.text {
    text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.45);
}

.left {
    position: relative;
    left: 3.5rem;
}

.right {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.right * {
    position: absolute;
}

.right img {
    width: 30rem;
    z-index: 10;
    top: -4rem;
}

.behind-pic {
    top: -3rem;
    right: 4rem;
    mix-blend-mode: overlay;
    position: absolute;
    height: 32rem;
    width: 22rem;
    transform: rotate(-31deg);
}

.gradient-bar {
    bottom: -10rem;
    z-index: 10;
    width: 30rem;
    height: 0.7rem;
    border-radius: 100rem;
    filter: blur(0.2rem);
    background: rgb(121, 60, 226);
    background: linear-gradient(90deg, rgba(121, 60, 226, 1) 0%, rgba(33, 196, 241, 1) 100%);
}

#circle-1 {
    z-index: 1;
    left: -10rem;
    top: -10rem;
    padding: 20rem;
}